<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MEMEOW</title>
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/base.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome/css/all.min.css">
    <link rel="shortcut icon" href="/assets/logo/favicon_io/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/admin.css">

    <script src="/assets/bootstrap/js/bootstrap.bundle.min.js"></script>

</head>

<body>
    <div class="container-fluid m-0 p-0">
        {{!-- header --}}
        <nav class="navbar navbar-dark bg-dark w-100 d-flex flex-nowrap">
          <a href="/">
            <img src="/assets/logo/memeow-white.png" alt="website logo" class="weblogo">
          </a>


          <div class="searchbar w-50 d-flex flex-nowrap">
            <input class="search_input w-100" type="text" name="" placeholder="Search...">
            <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
          </div>

          {{#if user}}
          {{!-- loged in --}}
          <div class="userInfor">
            <input type="hidden" id="js-checkUser" value="{{user.email}}">
            <img id="userAvt" src="{{{user.avatar}}}" alt="user avatar">
            <div class="userInfor-menu">
              <ul class="p-0 m-0 d-flex flex-column">
                <li class="userInfor-item mt-1">
                  <a class="for_a userInfor-item-link userInfor-item--name w-100" href="/menu/user">{{user.fullname}}</a>
                </li>
                <li class="userInfor-item mb-1">
                  <a class="for_a userInfor-item-link" href="/menu/library">Library</a>
                </li>
                {{#unless user.role}}
                <li class="userInfor-item mb-1">
                  <a class="for_a userInfor-item-link" href="/menu/contribute">Contribute</a>
                </li>
                {{/unless}}

                {{#if user.role}}
                <li class="userInfor-item ">
                  <hr class="m-0">
                  <a class="for_a userInfor-item-link userInfor-item--name w-100 mt-1" href="/admin">Admin page</a>
                </li>
                <li class="userInfor-item ">
                  <a class="for_a userInfor-item-link mb-1" href="/login/logout">Logout</a>
                </li>
                {{else}}
                <li class="userInfor-item ">
                  <hr class="m-0">
                  <a class="for_a userInfor-item-link my-1" href="/login/logout">Logout</a>
                </li>
                {{/if}}
              </ul>
            </div>
          </div>
          {{else}}
          {{!-- not loged in --}}
          <div class="userInfor">
            <a class="btn btn-primary loginBtn" href="/login">Login</a>
          </div>
          {{/if}}

      </nav>

    {{{body}}}

    {{!-- footer --}}
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a class="cycle_border btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/nttchv/" role="button" target="_blank"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Instagram -->
            <a class="cycle_border btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/t._t._.t_.t/" role="button" target="_blank"
              ><i class="fab fa-instagram"></i
            ></a>
    
            <!-- Github -->
            <a class=" cycle_border btn btn-outline-light btn-floating m-1" href="#!" role="button" target="_blank"
              ><i class="fab fa-github"></i
            ></a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-white" href="">Nguyễn Thanh Tùng</a>
        </div>
        <!-- Copyright -->
      </footer>


    </div>
</body>

<script src="/assets/js/jquery-3.6.0.min.js"></script>
<script src="/assets/bootstrap/js/bootstrap.js"></script>
<script src="/assets/js/home.js"></script>
<script src="/assets/js/admin.js"></script>
<script src="/assets/js/copy.js"></script>
</html>