<!-- content -->
<div class="container my-5 d-flex flex-column align-items-center">
  <div class="row w-100">
    {{#each meme}}
    <!-- column -->
    <div class="new col-lg-3 mb-4">
      <div class="meme">
        <div class="meme-img" style="background-image: url('/{{{this.link}}}');" onclick="viewImg(`{{{this.link}}}`)" data-bs-toggle="modal" data-bs-target="#viewModal"></div>

        <div class="mx-1 p-1">
          <div class="meme-NOL-NOV mt-1">
            <span>
              <span id="saveApi_{{{this.slug}}}"> {{this.save}} </span>
              <i class="fas fa-download"></i>
            </span>
            <span style="margin-left: 8px;">
              <span id="copyApi_{{{this.slug}}}"> {{this.copy}} </span>
              <i class="fas fa-copy"></i>
            </span>
          </div>

          <div class="meme-name my-1 d-flex">
            <span class="bold">Name:</span> <span class="d-inline-block overflow-ellipsis">{{this.name}}</span>
          </div>

          <div class="meme-tag my-1 d-flex">
            <span class="bold">Tag:</span> <span class="d-inline-block overflow-ellipsis">{{this.tag}}</span>
          </div>

          <div class="meme-L-C mt-3">
            {{#if this.saved}}
            <button class="btn meme-btn btn-secondary disabled">Saved</button>
            {{else}}
            <button class="btn meme-btn meme-save-btn" id="memeSaveBtn_{{this.slug}}" onclick="saveImg(`{{{this.slug}}}`)" data-bs-toggle="modal" data-bs-target="#saveModal">Save</button>
            {{/if}}
            <button class="btn meme-btn meme-copy-btn" id="memeCopyBtn_{{this.slug}}" onclick="copyImg(`{{{this.link}}}`, `{{{this.slug}}}`)" data-bs-toggle="modal" data-bs-target="#copyModal">Copy</button>
          </div>


        </div>
      </div>
    </div>
    <!-- end column -->    
  {{/each}}
  </div>
  <!-- pagination -->
  <nav class="pagination-outer mt-5" aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item">
            <a href="#" class="page-link" aria-label="Previous">
                <span aria-hidden="true">«</span>
            </a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item "><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
            <a href="#" class="page-link" aria-label="Next">
                <span aria-hidden="true">»</span>
            </a>
        </li>
    </ul>
  </nav>
</div>

{{!-- modal --}}
{{!-- save --}}
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
      {{#if user}}
      <div class="modal-body d-flex flex-column align-items-center">
        <img src="/assets/images/success.gif" alt="Save successfully">
        <h3>Saved!</h3>
      </div>
      {{else}}
      <div class="modal-body d-flex flex-column align-items-center">
        <img src="/assets/images/error.gif" alt="Save successfully" style="width: 50%;" class="my-2">
        <h3>You need to login first!</h3>
      </div>
      {{/if}}

      <div class="modal-footer">
        {{#unless user}}
        <a href="/login" type="button" class="btn btn-primary" style="margin-right: 8px;">Login</a>
        {{/unless}}
        <button type="button" id="saveModal-btn" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{!-- copy --}}
<div class="modal fade" id="copyModal" tabindex="-1" role="dialog" aria-labelledby="copyModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <div class="modal-body d-flex flex-column align-items-center">
        <img src="/assets/images/success.gif" alt="Copy successfully">
        <h3>Copied!</h3>
      </div>
      <div class="modal-footer">
        <button id="copyModal-btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- view --}}
<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered d-flex justify-content-center" role="document">
    <div class="modal-content modalCoverImg">
      
      <div class=" modal-body d-flex flex-column align-items-center">
        <img id="fullWidthMeme" src="/assets/images/post.jpg" alt="full Width Meme">
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>