<!-- content -->
<div class="container my-5 d-flex flex-column align-items-center">
  <div class="row w-100">
    {{#each meme}}
    <!-- column -->
    <div class="new col-lg-3 mb-3">
      <div class="meme">
        <div class="meme-img" style="background-image: url({{{this.link}}});"></div>

        <div class="mx-1 p-1">
          <div class="meme-NOL-NOV mt-1">
            <span>
              <span id="saveApi_{{{this.slug}}}"> {{this.save}} </span>
              <i class="far fa-thumbs-up"></i>
            </span>
            <span style="margin-left: 8px;">
              <span id="copyApi_{{{this.slug}}}"> {{this.copy}} </span>
              <i class="far fa-eye"></i>
            </span>
          </div>

          <div class="meme-name my-1 d-flex">
            <span class="bold">Name:</span> <span class="d-inline-block overflow-ellipsis">{{this.name}}</span>
          </div>

          <div class="meme-tag my-1 d-flex">
            <span class="bold">Tag:</span> <span class="d-inline-block overflow-ellipsis">{{this.tag}}</span>
          </div>

          <div class="meme-L-C mt-3">
            <button class="btn meme-save-btn" id="memeSaveBtn_{{this.link}}" onclick="saveImg(`{{{this.link}}}`, `{{{this.slug}}}`)" data-bs-toggle="modal" data-bs-target="#saveModal">Save</button>
            <button class="btn meme-copy-btn" id="memeCopyBtn_{{this.link}}" onclick="copyImg(`{{{this.link}}}`, `{{{this.slug}}}`)" data-bs-toggle="modal" data-bs-target="#copyModal">Copy</button>
          </div>


        </div>
      </div>
    </div>
    <!-- end column -->    
  {{/each}}
  </div>
  <!-- pagination -->
  <nav class="pagination-outer mt-5" aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item">
            <a href="#" class="page-link" aria-label="Previous">
                <span aria-hidden="true">«</span>
            </a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item "><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
            <a href="#" class="page-link" aria-label="Next">
                <span aria-hidden="true">»</span>
            </a>
        </li>
    </ul>
  </nav>
</div>

{{!-- modal --}}
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <div class="modal-body d-flex flex-column align-items-center">
        <img src="/assets/images/success.gif" alt="Save successfully">
        <h3>Saved!</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="copyModal" tabindex="-1" role="dialog" aria-labelledby="copyModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      
      <div class="modal-body d-flex flex-column align-items-center">
        <img src="/assets/images/success.gif" alt="Copy successfully">
        <h3>Copied!</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

